<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>

    <div id="app">
        <h2>CATAAS & Dog api</h2>
        <p>Obten una imagen con el texto deseado de un gato y aparte la de un perro aleatorio</p>
        <input v-model="textCat" placeholder="Escribe el texto para el gato" />
        <button @click="getImages()">Obtener Imagenes</button>
  
        <h2>Imagenes</h2>
        <p>el gato llega un base64 incompleto porque la api no deja acceder a la imagen pero si se accede a la api desde el back</p>
        <p>base64 {{catImg}}</p>
        <img :src="catImg" alt="gato random" v-if="catImg" />
        <img :src="dogImg" alt="perro random" v-if="dogImg" />

        <script src="/client.js"></script>
      </div>  
      
</body>
</html>